.env
node_modules/
banner.gif
src/tempCodeRunnerFile.js
register-commands.js
src/songs/
gitignore/
media/ytsongs/*
!media/ytsongs/.gitkeep
data/aihistory/*
!data/aihistory/.gitkeep
media/banner.gif
stockfish
tests_and_experiments
.setup_complete
media/move_classifications/magnificent.webp
media/move_classifications/forced.webp
src/bin/
cookies.txt